<div class="prompt-form-container">
	<mat-form-field class="prompt-form">
		<mat-label>Enter Prompt</mat-label>
		<textarea matInput [(ngModel)]="prompt" name="prompt" required cdkTextareaAutosize
			(ngModelChange)="updateCharCount()" [attr.maxlength]="maxLength"></textarea>
		<mat-hint align="start" [ngClass]="{'over-limit': isOverLimit() || isNoInput()}">
			{{charCount}} / {{maxLength}} characters
		</mat-hint>
		<app-submit-button [disabled]="isOverLimit() || isNoInput()" (submit)="onSubmit()" matSuffix></app-submit-button>
	</mat-form-field>
</div>