<main>
	<div class="prompt-form-container">
		<mat-form-field class="prompt-form">
			<mat-label>Enter Prompt</mat-label>
			<textarea 
				matInput [(ngModel)]="prompt" 
				name="prompt" 
				required 
				cdkTextareaAutosize 
				(ngModelChange)="updateCharCount()"
				[attr.maxlength]="maxLength" ></textarea>
			<mat-hint align="start" [ngClass]="{'over-limit': isOverLimit() || isNoInput()}">
				{{charCount}} / {{maxLength}} characters
			</mat-hint>
			<button mat-icon-button matSuffix (click)="onSubmit()" class="round-button" [disabled]="isOverLimit() || isNoInput()">
				<mat-icon>arrow_forward</mat-icon>
			</button>
		</mat-form-field>
	</div>
</main>